<div class="wto-container" style="background-color: #f7f7fa;">
	<div class="row" style="margin-top: 80px;">
		<div class="col s2 m2 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m8 topgap60">
			<div class="font-24 label-grey">FAQs</div>
			<ul class="collapsible" data-collapsible="accordion" style="box-shadow: none;border:none;">
				<li>
					<div class="collapsible-header" style="font-size: 18px;color: #4a4a4a;border-color: #eaeaea;">
						What is World Tourism?
					</div>
					<div class="collapsible-body" style="background-color: #fff;box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.17);">
						<span style="font-size: 14px;line-height: 1.71;color: #7f848b;">
							World´s first decentralized coin which can be mining as well as  stored in QT-wallet or ERC 20 smart contract. To counter the threat from Tourism industry monopoly, created a community of 250+ tour agencies worldwide, comprise of 30+ adroit individuals from different area of expertise and 40+ advisers.
						</span>
					</div>
				</li>
				<li class="topgap10">
					<div class="collapsible-header" style="font-size: 18px;color: #4a4a4a;border-color: #eaeaea;">
						When is the start of the ICO?
					</div>
					<div class="collapsible-body" style="background-color: #fff;box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.17);">
						<span style="font-size: 14px;line-height: 1.71;color: #7f848b;">
							Pre-sale starts on December 1st, 11.59 UTC.We have developed our own proprietary smart contract, which has been audited by 4 independent consultants.
						</span>
					</div>
				</li>
				<li class="topgap10">
					<div class="collapsible-header active" style="font-size: 18px;color: #4a4a4a;border-color: #eaeaea;">
						Is there a minimum and maximum contribution?
					</div>
					<div class="collapsible-body" style="background-color: #fff;box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.17);">
						<span style="font-size: 14px;line-height: 1.71;color: #7f848b;">
							There is no minimum and maximum limit.
						</span>
					</div>
				</li>
				<li class="topgap10">
					<div class="collapsible-header" style="font-size: 18px;color: #4a4a4a;border-color: #eaeaea;">
						How many tokens will be in circulation?
					</div>
					<div class="collapsible-body" style="background-color: #fff;box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.17);">
						<span style="font-size: 14px;line-height: 1.71;color: #7f848b;">
							In total 42 million Tourcoins will cease to exist out of which 21 millions will be distributed  and circulated as token in ERC20 smart contract and remaining 21 millions will be mined.
						</span>
					</div>
				</li>
				<li class="topgap10">
					<div class="collapsible-header" style="font-size: 18px;color: #4a4a4a;border-color: #eaeaea;">
						How can I Invest in World Tourism?
					</div>
					<div class="collapsible-body" style="background-color: #fff;box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.17);">
						<span style="font-size: 14px;line-height: 1.71;color: #7f848b;">
							Please refer to our guide: <a class="label-blue" target="_blank" href="https://s3.ap-south-1.amazonaws.com/tourcoin/invest.pdf">How to invest.</a>
						</span>
					</div>
				</li>
				<li class="topgap10">
					<div class="collapsible-header" style="font-size: 18px;color: #4a4a4a;border-color: #eaeaea;">
						How and when will I receive my TOURCOIN tokens?
					</div>
					<div class="collapsible-body" style="background-color: #fff;box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.17);">
						<span style="font-size: 14px;line-height: 1.71;color: #7f848b;">
							Tourcoins are minable and transferable coins. You can store  tourcoins in a QT-wallet or transfer them to any ERC20 supporting wallet (any wallet that would also be able to participate in the ICO; example MyEtherWallet, Mist, etc).
						</span>
					</div>
				</li>
				<li class="topgap10">
					<div class="collapsible-header" style="font-size: 18px;color: #4a4a4a;border-color: #eaeaea;">
						What are the benefits for Investors, customers and business partners?
					</div>
					<div class="collapsible-body" style="background-color: #fff;box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.17);">
						<span style="font-size: 14px;line-height: 1.71;color: #7f848b;">
							Please see our opportunities of Tourcoin: <a href="https://s3.ap-south-1.amazonaws.com/tourcoin/whitepaper.pdf" target="_blank" style="color: #7f848b;">Whitepaper</a>.
						</span>
					</div>
				</li>
				<li class="topgap10">
					<div class="collapsible-header" style="font-size: 18px;color: #4a4a4a;border-color: #eaeaea;">
						Are there any limitations as to who can invest?
					</div>
					<div class="collapsible-body" style="background-color: #fff;box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.17);">
						<span style="font-size: 14px;line-height: 1.71;color: #7f848b;">
							There are no limitations or restrictions. Since Tourcoin is not a security, we are not excluding any country from the Sale. Of course, you still have to do your own due diligence if you can legally participate in Sale in your respective countries, and we are not giving any legal or investment advise. Please see our complete <a ui-sref="terms">Terms and conditions</a> for more details.
						</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="col s2 m2 hide-on-small-only">&nbsp;</div>
	</div>
</div>