<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div style="margin-top: 80px">
				<div class="col s4 m4 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m4 topgap40">
					<div class="login-title">FORGOT PASSWORD</div>
					<div class="input-field topgap40">
						<input placeholder="Email" id="email" type="email" ng-model="forgot.mail" class="validate" style="margin-bottom: 0;">
						<label data-error="Invalid Email" class="active" for="email" style="font-size: 10px;top:10px;">EMAIL</label>
					</div>
					
					<div class="text-center topgap60">
						<span class="btn-submit" ng-click="sendResetLink()">SEND PASSWORD RESET</span>
					</div>
					<div class="topgap25 text-center">
						<a ui-sref="login" class="font-12 label-grey">GO BACK TO LOGIN</a>
					</div>
				</div>
				<div class="col s4 m4 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>