<div class="wto-container">

	<div class="row">
		<div class="col s12 wto-home-bg">
			<div class="text-center" style="margin-top: 60px;">
				<span class="wto-home-span">WORLD</span>
				<img class="logo" src="/img/tourcoin.png">
				<span class="wto-home-span">TOURISM</span>
			</div>
			<div class="text-center wto-journey-text topgap20">- LET THE JOURNEY BEGINS -</div>
			<div class="text-center relative topgap40">
				<img src="/img/frame.png">
				<span class="wto-frame-text">
					<div>World´s first decentralized coin which can be mined</div>
					<div> as well as stored in QT-Wallet or ERC 20 smart contract.</div>
				</span>
			</div>
			<div class="text-center topgap40">
				<span class="inline-block relative">
					<input type="email" placeholder="Email" class="wto-mail-sub">
					<img src="/img/email.svg" class="mail-icon">
					<span class="mail-subscribe">SUBSCRIBE</span>
				</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 wto-white-bg">
			<h5 class="text-center font-27">
				<span class="font-weight-100">About</span>
				<span class="font-weight-600"> US</span>
			</h5>
			<div class="font-14 text-center topgap20 bottomgap20" style="color: #7f848b">
				A Tourism Community - with diverse group of adroit individuals and skill sets, including digital mining, tourism, legal and decentralized pundits. uniting to realize a vision shared by 25 members of the World Tourism Crew and 350 tour agencies world wide. All passionately devoted to collaboration and the development of the tourism and cryptocurrency ecosystem and community.There must be an end to major tour agencies monopoly on tourism sector ,and a fundamental restructuring of our tourism community and ecosystem to ensure that inequality of tourists are addressed thoroughly.
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row">
		<div class="col s12 parallax-container" style="height: 200px;">
			<div class="parallax"><img src="img/world-map.jpg"></div>
			<div class="wto-coming-soon full-padding">COMING SOON</div>
		</div>
	</div>
</div>