<div class="wto-container">
	<div class="row">
		<div class="background-xs show-on-small"></div>
		<video class="hide-on-small-only" poster="/img/ny.jpg" id="bgvid" playsinline autoplay muted loop>
			<source src="/img/ny.webm" type="video/webm">
			<!-- <source src="ny.mp4" type="video/mp4"> -->
		</video>
		<div class="col s12 wto-home-bg">
			<div class="text-center" style="margin-top: 150px;">
				<span class="wto-home-span">WORLD</span>
				<img class="logo" src="/img/tourcoin.png">
				<span class="wto-home-span">TOURISM</span>
			</div>
			<div class="text-center wto-journey-text topgap20">- LET THE JOURNEY BEGINS -</div>
			<div class="text-center relative topgap40">
				<img src="/img/frame.png" class="wto-frame">
				<span class="wto-frame-text">
					<div>World´s first decentralized coin which can be mined</div>
					<div> as well as stored in QT-Wallet or ERC 20 smart contract.</div>
				</span>
			</div>
			<div class="text-center topgap60 bottomgap20">
				<span class="inline-block relative">
					<input type="email" placeholder="Email" class="wto-mail-sub">
					<img src="/img/email.svg" class="mail-icon">
					<span class="mail-subscribe">SUBSCRIBE</span>
				</span>
			</div>
		</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 topgap40">
			<h5 class="text-center font-27">
				<span class="font-weight-100">About</span>
				<span class="font-weight-600"> US</span>
			</h5>
			<div class="font-14 text-center topgap20 bottomgap20" style="color: #7f848b">
				A Tourism Community - with diverse group of adroit individuals and skill sets, including digital mining, tourism, legal and decentralized pundits. uniting to realize a vision shared by 25 members of the World Tourism Crew and 350 tour agencies world wide. All passionately devoted to collaboration and the development of the tourism and cryptocurrency ecosystem and community.There must be an end to major tour agencies monopoly on tourism sector ,and a fundamental restructuring of our tourism community and ecosystem to ensure that inequality of tourists are addressed thoroughly.
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row">
		<div class="col s12 parallax-container">
			<div class="parallax"><img src="img/banner.jpg"></div>
			<div class="wto-coming-soon topgap35">COMING SOON</div>
			<div class="text-center topgap35">
				<div class="download-whitepaper">
					<img class="middle" src="/img/download-whitepaper.svg">
					<span class="inline-block leftgap20 middle">DOWNLOAD WHITEPAPER</span>
				</div>
				<div class="join-ico">
					<span class="inline-block leftgap20 middle">JOIN THE ICO</span>
					<span class="ico-arrow">
						<img class="middle" src="/img/arrow.svg">
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 wto-white-bg topgap30">
			<h5 class="text-center font-27">
				<span class="font-weight-100">Core</span>
				<span class="font-weight-600"> Values</span>
			</h5>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 wto-white-bg topgap20">
			<div class="row">
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/law.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">TRADING</div>
					<div class="core-text-container full-padding hide-on-small-only">
						Buying and selling of the Tourcoins at different price points and generating profit from the same. You can buy Tourcoins at a lower price and sell them at a higher price.
					</div>
				</div>
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/globalization.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">TRANSPARENT</div>
					<div class="core-text-container full-padding hide-on-small-only">
						To provides timely, meaningful and reliable disclosures about the company's decentralized objectives, finanacial performance & future frameworks.
					</div>
				</div>
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/shape.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">TERMING</div>
					<div class="core-text-container full-padding hide-on-small-only">
						The profit from this investment is generated by Tourcoin trading bot & buoyancy software based on the investment option chosen by you and our clients.
					</div>
				</div>
			</div>
		</div>
		<div class="col s1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 wto-white-bg topgap20">
			<div class="row">
				<div class="col s2">&nbsp;</div>
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/globalization.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">MINING</div>
					<div class="core-text-container full-padding hide-on-small-only">
						Tourcoin mining is the process by which new Tourcoins will be generated. You can mine Tourcoins with a CPU/GPU/ASIC. A total of 21 millions coin will be mined.
					</div>
				</div>
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/shape.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">CLOUD MINING</div>
					<div class="core-text-container full-padding hide-on-small-only">
						You can now join our cloud mine without the hassle of buying and maintaining equipment, managing electricity and resources cost etc.
					</div>
				</div>
				<div class="col s2">&nbsp;</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 wto-white-bg topgap20">
			<div class="row">
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/law.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">STAKING</div>
					<div class="core-text-container full-padding hide-on-small-only">
						Earn Up to 150% return annualy through restructuring & POS minting. It is very simple to earn through this method, by just holding & storing coins in your TOURCOIN-QT wallet.
					</div>
				</div>
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/globalization.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">DECENTRALIZED</div>
					<div class="core-text-container full-padding hide-on-small-only">
						Decision-making authority to be distributed throughout a larger group. It also connotes a higher authority given to Tourcoin holders, clientele, functionaries, executives, & support staffs.
					</div>
				</div>
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/shape.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">FIXED DEPOSIT</div>
					<div class="core-text-container full-padding hide-on-small-only">
						Fixed Deposits is an investment opportunity where you can store your Tourcoins and earn a fixed periodic interest as well as company and mining profits on the same.
					</div>
				</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 wto-white-bg topgap20">
			<div class="row">
				<div class="col s2">&nbsp;</div>
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/globalization.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">ASSET MANAGEMENT</div>
					<div class="core-text-container full-padding hide-on-small-only">
						To create a system which monitors, manages and maintains mining along with tourism assets by systematic process of developing, operating, maintaining, upgrading, disposing of finances and human resources cost-effectively.
					</div>
				</div>
				<div class="col s4 text-center">
					<span class="core-img-container">
						<img src="/img/shape.svg" style="margin-top: 50%;transform: translateY(-50%);">
					</span>
					<div class="core-head-title topgap20">GLOBALIZATION</div>
					<div class="core-text-container full-padding hide-on-small-only">
						To increase interaction of people through the growth of the international flow of tourists, finances, ideas and culture. Primary objective for an economic and decentralized process of integration which has social and cultural aspects.
					</div>
				</div>
				<div class="col s2">&nbsp;</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<!-- <div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 topgap40">
			<h5 class="text-center font-27">
				<span class="wto-distribution-title">TOURCOIN DISTRIBUTION STRUCTURE</span>
			</h5>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>
	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 topgap40">
			<div class="row">
				<div class="col s1">&nbsp;</div>
				<div class="col s10">
					<div class="row">
						<div class="col s6">
							<canvas id="doughnut" class="chart chart-doughnut" chart-data="mainData" chart-labels="mainLabels" chart-colours="mainColors" style="width:100%;"></canvas> 
						</div>
					</div>
				</div>
				<div class="col s1">&nbsp;</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div> -->

	<div class="row wto-white-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 topgap40">
			<div class="row">
				<div class="col s6 m6 hide-on-small-only">
					<img src="/img/mobile.png" style="width: 90%;height: auto;">
				</div>
				<div class="col s12 m6">
					<div class="app-soon topgap50">COMING SOON</div>
					<div class="font-20 topgap12" style="color: #9b9b9b;">ON GOOGLE PLAY & APP STORE</div>
					<div class="topgap40">
						<img src="/img/appstore.svg">
						<img src="/img/google-play.svg" class="leftgap20">
					</div>
				</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 wto-white-bg topgap30">
			<h5 class="text-center font-27">
				<span class="global-players">GLOBAL PLAYERS & MARKET MOVERS</span>
			</h5>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-grey-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 topgap12">
			<div class="row">
				<div class="bottomgap20">
					<h5 class="text-center font-27">
						<span class="font-20" style="color: #4a4a4a">BRINGING TOGETHER</span>
					</h5>
				</div>
				<div class="col s12 text-center brand-imgs">
					<img src="/img/logo/africa.png">
					<img src="/img/logo/schau.png">
					<img src="/img/logo/american.png">
					<img src="/img/logo/pure.png">
					<img src="/img/logo/earth.png">
					<img src="/img/logo/safari.png">
				</div>
				<div class="col s12 text-center brand-imgs">
					<img src="/img/logo/travel.png">
					<img src="/img/logo/japan.png">
					<img src="/img/logo/adventure.png">
					<img src="/img/logo/ebooking.png">
					<img src="/img/logo/250.png" style="width: 100px;margin-bottom: 25px;">
				</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 topgap12">
			<div class="row">
				<div class="bottomgap20">
					<h5 class="text-center font-27">
						<span class="font-20" style="color: #4a4a4a">TO COUNTER</span>
					</h5>
				</div>
				<div class="col s12 text-center brand-imgs">
					<img src="/img/logo/americanexp.png">
					<img src="/img/logo/thomas.png">
					<img src="/img/logo/frosch.png">
					<img src="/img/logo/priceline.png">
					<img src="/img/logo/cox.png">
					<img src="/img/logo/carlson.png">
				</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>


</div>