<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div style="margin-top: 80px">
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m6 topgap20">
					<!-- <div class="topgap35 text-center">
						<img src="/img/mail.svg">
					</div> -->
					<div class="topgap60 font-36 font-weight-300 label-grey text-center">Thank you for your enquiry.</div>
					<div class="topgap30 text-center font-14 font-weight-300" style="color: #4f5767;">
						<div>
							A member of our team will be in touch as soon as possible.
						</div>
						<div class="topgap20">
							<a ui-sref="home" class="label-blue">Click anywhere to close.</a>
						</div>
					</div>
				</div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>