<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div style="margin-top: 120px">
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m6 topgap20">
					<div class="topgap60 font-36 font-weight-300 label-grey text-center">Password Changed!</div>
					<div class="topgap35 text-center font-14 font-weight-300" style="color: #4f5767;">Your password have been successfully changed</div>
					<div class="topgap10 text-center">
						<a ui-sref="login" class="font-14 label-grey">CLICK HERE TO LOGIN</a>
					</div>
				</div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>