<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div style="margin-top: 80px">
				<div class="col s4 m4 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m4 topgap20">
					<div class="topgap35 text-center">
						<img src="/img/mail.svg">
					</div>
					<div class="topgap40 font-36 font-weight-300 label-grey text-center">Instructions Sent!</div>
					<div class="topgap30 text-center font-14 font-weight-300" style="color: #4f5767;">
						<div>
							Instructions for resetting your password have been sent to
						</div>
						<div class="font-weight-500">
							{{forgotMail}}
						</div>
						<div class="topgap20">
							You’ll receive this email within 5 minutes.<br/>Be sure to check your spam folder, too.
						</div>
					</div>
				</div>
				<div class="col s4 m4 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>