<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div style="margin-top: 80px">
				<div class="col s4 m4 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m4 topgap20">
					<div class="login-title">RESET PASSWORD</div>
					
					<form name="reset">
						<div class="input-field topgap40">
							<input ng-model="reset.password" placeholder="Password" id="password" type="password" class="validate" style="margin-bottom: 0;" required>
							<label class="active font-10" style="font-size: 10px;top:10px;" for="password">PASSWORD</label>
						</div>
						<div class="input-field topgap40">
							<input ng-model="reset.confPassword" ng-focus="resetPasswordCheck()" ng-pattern="reset.password" placeholder="Confirm Password" id="confirm_password" type="password" ng-change="compareResetPass()" class="validate" style="margin-bottom: 0;" required>
							<label class="active font-10" style="font-size: 10px;top:10px;" for="confirm_password">CONFIRM NEW PASSWORD</label>
						</div>
						<div class="font-10 topgap6" style="color: #ff6565">{{resetMatchError}}</div>
						<div class="font-10 topgap6" style="color: #ff6565">{{resetPwdErrMsg}}</div>
						<div class="text-center topgap30 disable-class">
							<button class="btn-submit" ng-click="resetPassword()" ng-disabled="!reset.$valid || (resetPwdErrMsg != '')">CHANGE PASSWORD</button>
						</div>
					</form>
					
				</div>
				<div class="col s4 m4 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>