<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div style="margin-top: 80px">
				<div class="col s4 m4 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m4 topgap20">
					<div class="login-title">RESET PASSWORD</div>

					<div class="input-field topgap40">
						<input placeholder="Password" id="password" type="password" class="validate" style="margin-bottom: 0;">
						<label class="active font-10" style="font-size: 10px;top:10px;" for="password">PASSWORD</label>
					</div>
					<div class="input-field topgap40">
						<input placeholder="Confirm Password" id="confirm_password" type="password" class="validate" style="margin-bottom: 0;">
						<label class="active font-10" style="font-size: 10px;top:10px;" for="confirm_password">CONFIRM NEW PASSWORD</label>
					</div>
					<div class="font-12 font-weight-300 topgap10" style="color: #ff6565;">
						Password should be atleast 8 characters, Must contain at least one letter, one number and a special character  
					</div>
					<div class="text-center topgap30">
						<span class="btn-submit">CHANGE PASSWORD</span>
					</div>
				</div>
				<div class="col s4 m4 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>