<div class="wto-container">
	<div class="row" style="margin-bottom: 0;">
		<div class="login-bg">
			<div style="margin-top: 80px">
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
				<div class="col s12 m6 topgap20">
					<div class="topgap35 text-center">
						<img src="/img/mail.svg">
					</div>
					<div class="topgap40 font-36 font-weight-300 label-grey text-center">Please Verify your Email</div>
					<div class="topgap30 text-center font-20 font-weight-300" style="color: #4f5767;">Once you verify your email address, you can start sending funds to your account.</div>
				</div>
				<div class="col s4 m3 hide-on-small-only">&nbsp;</div>
			</div>
		</div>	
	</div>
</div>