<div class="wto-container">
	<div class="row wto-white-bg flex" style="margin-top: 100px;">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m8 topgap40">
			<h5 style="margin-top: 20px;">
				<span class="our-vision">OUR VISION</span>
			</h5>
			<div class="vision-paragraph topgap30" style="color: #7f848b">
				<div>
					World Tourism is aimed at taking investment transparency, globalization, and decentralization to the next level by implementing blockchain technology in the tourism sector. We are creating a solid bridge between the blockchain universe and the tourism world by providing a transparent and legally compliant framework for tokenized asset structuring and operation. The objective is to be an end-to-end encrypted system with zero-knowledge technology over which communications, data, or value can be securely exchanged, transmitted and stored. It is an integration of revolutionary technologies that create a system over which innovation can accelerate by combining four functions that are traditionally done separately:
				</div>
				<div>1) Transactions </div>
				<div>2) Communication, </div>
				<div>3) Security and</div>
				<div>4) Competitive governance. </div>

				<div class="topgap12">
					This is done in a secure and anonymous manner, using a worldwide distributed blockchain and computing infrastructure. The system integrates multiple best-in-class technologies to form an open platform for permission-less innovation that can evolve with user preferences.
				</div>
				 
				 <div class="topgap12">
				 	 We are helping to expand and explore the boundaries of tourism and cryptocurrency possibilities, and encourage industry experts to recognize blockchain tools as the new reality in classical tourism markets. Ultimately, World Tourism aims to be the benchmark for tokenized tourism assets and vehicles that are invested and incorporated in traditional tourism instruments as well as in emerging distributed economy opportunities.
				 </div>
			</div>
		</div>
		<div class="col s3 m3 relative hide-on-small-only">
			<img src="/img/vision/boxes.png" class="vision-box-png">
		</div>
	</div>

	<div class="row wto-white-bg flex">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m6">
			<div class="vision-paragraph bottomgap40" style="color: #7f848b">
				<div class="font-24 label-grey font-weight-300">
					Mine, Store, Secure, Save and Spend while travel
				</div>
				<div class="font-18 label-grey topgap20">
					Access and exchange from anywhere and everywhere.
				</div>
				<div class="topgap20">
					Visit any desired location and convert your Tourcoin with local fiat currencies, bank transfer, debit/credit or gift card and cryptocurrencies.
				</div>
				<div>
					Experience smoother planning, navigation, guide, funds, security, transportation, insurance etc.
				</div>
				<div>
					Greater ease in travel related booking and purchase, starting your own travel agency, starting out as a tour guide, and winter jobs assistance.
				</div>
				<div>
					Charges and fees: The transaction fee to exchange, deposit and send Tourcoin is very low at around 0.0000050% of the transaction. As an example, for $5000 USD the transaction fee is only 1.25 cents.
				</div>
				<div>
					Send, exchange to fiat or other crypto and receive payments anywhere in the world in 60 seconds or less. The transactions are performed directly between the users.
				</div>

				<div class="font-18 label-grey topgap20">
					Boost your Sale
				</div>
				<div class="topgap20">
					As a business entity, users make payments by using virtual and fiat currencies worth over 2.5 billion USD in a day. By accepting Tourcoin you will get additional business from virtual currency economy.
				</div>
			</div>
		</div>
		<div class="col s5 m5 hide-on-small-only relative">
			<img src="/img/vision/vision-Icon.svg" class="vision-icon">
		</div>
	</div>

	<div class="row wto-white-bg flex" style="background-color: #f7f7fa;margin-top: 150px;">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 no-padding">
			<div class="row">
				<div class="col s12 m4">
					<div class="vision-grid">
						<div class="font-24 label-grey">Stay organized Blockchain</div>
						<div class="vision-paragraph topgap20">
							World Tourism (Tourcoin) analytics and software provides user friendly interface that makes it easy to control your virtual and natural world without any hassles. It is a decentralized podium to develop, manage, distribute, and secure tourism. Providing the tourism industry a new model of virtual ownership and management gateway.
						</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="vision-grid">
						<div class="font-24 label-grey">SDKs for Tourism Industry</div>
						<div class="vision-paragraph topgap20">
							Users can spend, pay or invest without handing over sensitive personal information. This helps them  prevent identity theft and exchange frauds. World Tourism platform will be made for the tourism sector. SDKs for multiple languages, wallets and payment platforms will be available and completely open-source.
						</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="vision-grid">
						<div class="font-24 label-grey">Decentralized</div>
						<div class="vision-paragraph topgap20">
							World Tourism works without a central repository or single administrator. We use blockchain transaction technology. Tourcoin users can spend, store or exchange their token from country to country, community to community, and device to device, growing their digital wallet with real value as they pay.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only relative">&nbsp;</div>
	</div>

	<div class="row wto-white-bg topgap40 bottomgap40">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col m10 s12 topgap12">
			<div class="row">
				<div class="col s12 m12 text-center counter-imgs">
					<span class="media-partner">MEDIA PARTNERS</span>
					<a href="" target="_blank">
						<img src="/img/vision/thecoin.png" style="width: 13%;margin-right: 60px;vertical-align: middle;">
					</a>
					<a href="" target="_blank">
						<img src="/img/vision/coinmarketcap.png" style="width: 13%;">
					</a>
				</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-grey-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 topgap12">
			<div class="row">
				<div class="bottomgap20">
					<h5 class="text-center font-27">
						<span class="font-20" style="color: #4a4a4a">TOURISM & CRYPTO MEDIA</span>
					</h5>
				</div>
				<div class="col s12 text-center counter-imgs">
					<a href="http://www.tourism4development2017.org/ " target="_blank">
						<img src="/img/vision/sustainabletourism.jpg">
					</a>
					<a href="http://media.unwto.org/" target="_blank">
						<img src="/img/vision/untwo.jpg">
					</a>
					<a href="http://www.egypt.travel/" target="_blank">
						<img src="/img/vision/egypt.jpg">
					</a>
					<a href="https://www.rt.com/business/384327-cryptocurrency-bitcoin-russia-moiseev/" target="_blank">
						<img src="/img/vision/rta.jpg">	
					</a>
					<a href="http://www.cp24.com/lifestyle/travel" target="_blank">
						<img src="/img/vision/cp24.png">
					</a>
					<a href="https://www.cnbc.com/2017/10/24/bitcoin-market-cap-to-overtake-apple-in-five-years-analyst.html" target="_blank">
						<img src="/img/vision/cnbc.jpg">
					</a>
				</div>
				<div class="col s12 text-center counter-imgs topgap30">
					<a href="https://www.forbes.com/sites/bernardmarr/2017/09/15/blockchain-bitcoin-cryptocurrency-and-icos-all-you-need-to-know-in-10-minutes/#158776676c55" target="_blank">
						<img src="/img/vision/forbes.jpg">	
					</a>
					<a href="https://www.tourism-review.com/" target="_blank">
						<img src="/img/vision/5.jpg">
					</a>
					<a href="https://www.huffingtonpost.com/entry/bitcoin-revisited-focus-o_b_6739426.html" target="_blank">
						<img src="/img/vision/huffington.jpg">	
					</a>
					<a href="http://youngtourismnetwork.com.au/" target="_blank">
						<img src="/img/vision/ytn.png">	
					</a>
					
					<img src="/img/vision/70more.png">
				</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg" style="min-height: 0;">
		<div class="col s1">&nbsp;</div>
		<div class="col s10">
			<div class="text-center topgap30 bottomgap30 cursor" ng-click="state.go('signup')">
				<div class="join-ico">
					<span class="inline-block middle">JOIN THE ICO</span>
					<span class="ico-arrow">
						<img class="middle" src="/img/arrow.svg">
					</span>
				</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-grey-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col m10 s12 topgap40 section scrollspy" id="crew">
			<div class="bottomgap40 crew-header">
				<h5 class="text-center">
					<span class="crew-title">CREW</span>
				</h5>
			</div>
			
			<div class="text-center">
				<div class="crew-member-container">
					<!-- <img src="/img/crew/1.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/1.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">MARK OWEN</div>
					<div class="crew-designation">Business head</div>
				</div>

				<div class="crew-member-container">
					<!-- <img src="/img/crew/2.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/2.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">JULIE MORGAN</div>
					<div class="crew-designation">Network Architect</div>
				</div>

				<div class="crew-member-container">
					<!-- <img src="/img/crew/3.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/3.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">JOSEF SCHMIDT</div>
					<div class="crew-designation">R&D Team Head</div>
				</div>

				<div class="crew-member-container">
					<!-- <img src="/img/crew/4.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/4.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">GEORGE BELL</div>
					<div class="crew-designation">UI /UX Design</div>
				</div>

				<div class="crew-member-container">
					<!-- <img src="/img/crew/5.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/5.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">VARUN DEV</div>
					<div class="crew-designation">Lead Programmer</div>
				</div>
			</div>

			<div class="text-center topgap60">
				<div class="crew-member-container">
					<!-- <img src="/img/crew/6.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/6.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">GEORGE LIM</div>
					<div class="crew-designation">Project Editor &<br/>Marketing Lead</div>
				</div>

				<div class="crew-member-container">
					<!-- <img src="/img/crew/7.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/7.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">CANDY SLADE</div>
					<div class="crew-designation">Social Media &<br/>Promotion Lead</div>
				</div>

				<div class="crew-member-container">
					<!-- <img src="/img/crew/N.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/N.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">NIOMI CHAN</div>
					<div class="crew-designation">Head of Finance &<br/>Communication</div>
				</div>

				<div class="crew-member-container">
					<!-- <img src="/img/crew/9.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/9.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">PHILIP BROWN</div>
					<div class="crew-designation">Co-Founder<br/>&nbsp;</div>
				</div>

				<div class="crew-member-container">
					<!-- <img src="/img/crew/10.png"> -->
					<div class="crew-img-container" style="background-image:url('/img/crew/10.png');">
						<div class="crew-img-overlay">
							<div class="overlay-icons">
								<img src="/img/social/facebook-white.svg" style="width: 8px;">
								<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
								<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
							</div>
						</div>
					</div>
					<div class="crew-name">LEE LUU WONG</div>
					<div class="crew-designation">Head - Cyber Security<br/>&nbsp;</div>
				</div>
			</div>

			<div class="crew-foot topgap40">For more information please refer to <a href="https://s3.ap-south-1.amazonaws.com/tourcoin/whitepaper.pdf" target="_blank" style="color: #4f5767">Whitepaper</a></div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 topgap40">
			<div class="bottomgap40 advisor-header">
				<h5 class="text-center">
					<span class="crew-title">ADVISORS</span>
				</h5>
			</div>
			<div class="world-map-bg">
				<div class="text-left">
					<div class="crew-member-container member-margin-left-1">
						<!-- <img src="/img/advisors/1.png"> -->
						<div class="crew-img-container" style="background-image:url('/img/advisors/1.png');">
							<div class="crew-img-overlay">
								<div class="overlay-icons">
									<img src="/img/social/facebook-white.svg" style="width: 8px;">
									<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
									<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
								</div>
							</div>
						</div>
						<div class="crew-name">LOREL CRUZ</div>
						<div class="crew-designation">Tourism & Business<br/>Expansion Expert</div>
					</div>

					<div class="crew-member-container">
						<!-- <img src="/img/advisors/2.png"> -->
						<div class="crew-img-container" style="background-image:url('/img/advisors/2.png');">
							<div class="crew-img-overlay">
								<div class="overlay-icons">
									<img src="/img/social/facebook-white.svg" style="width: 8px;">
									<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
									<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
								</div>
							</div>
						</div>
						<div class="crew-name">ALEX GREY</div>
						<div class="crew-designation">Development and<br/>Creative Consultant</div>
					</div>

					<div class="crew-member-container">
						<!-- <img src="/img/advisors/3.png"> -->
						<div class="crew-img-container" style="background-image:url('/img/advisors/3.png');">
							<div class="crew-img-overlay">
								<div class="overlay-icons">
									<img src="/img/social/facebook-white.svg" style="width: 8px;">
									<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
									<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
								</div>
							</div>
						</div>
						<div class="crew-name">NIA HIMMLER</div>
						<div class="crew-designation">Information, security<br/>and media specialist</div>
					</div>

					<div class="crew-member-container">
						<!-- <img src="/img/advisors/4.png"> -->
						<div class="crew-img-container" style="background-image:url('/img/advisors/4.png');">
							<div class="crew-img-overlay">
								<div class="overlay-icons">
									<img src="/img/social/facebook-white.svg" style="width: 8px;">
									<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
									<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
								</div>
							</div>
						</div>
						<div class="crew-name">ADRIANA PROULX</div>
						<div class="crew-designation">Business Promotion<br/>&nbsp;</div>
					</div>

				</div>

				<div class="text-left topgap60">
					<div class="crew-member-container member-margin-left-2" style="width:20%;">
						<!-- <img src="/img/advisors/5.png"> -->
						<div class="crew-img-container" style="background-image:url('/img/advisors/5.png');">
							<div class="crew-img-overlay">
								<div class="overlay-icons">
									<img src="/img/social/facebook-white.svg" style="width: 8px;">
									<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
									<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
								</div>
							</div>
						</div>
						<div class="crew-name">JESSICA SHERMAN</div>
						<div class="crew-designation">Finance & Product<br/>Marketing</div>
					</div>
					<div class="crew-member-container">
						<!-- <img src="/img/advisors/6.png"> -->
						<div class="crew-img-container" style="background-image:url('/img/advisors/6.png');">
							<div class="crew-img-overlay">
								<div class="overlay-icons">
									<img src="/img/social/facebook-white.svg" style="width: 8px;">
									<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
									<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
								</div>
							</div>
						</div>
						<div class="crew-name">J. WILLIAMS</div>
						<div class="crew-designation">Proprietor - Multiple<br/>Tourism Agencies</div>
					</div>

					<div class="crew-member-container">
						<!-- <img src="/img/advisors/7.png"> -->
						<div class="crew-img-container" style="background-image:url('/img/advisors/7.png');">
							<div class="crew-img-overlay">
								<div class="overlay-icons">
									<img src="/img/social/facebook-white.svg" style="width: 8px;">
									<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
									<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
								</div>
							</div>
						</div>
						<div class="crew-name">TREVOR</div>
						<div class="crew-designation">Americas & Europe<br/>Business Consultant</div>
					</div>

					<div class="crew-member-container">
						<!-- <img src="/img/advisors/8.png"> -->
						<div class="crew-img-container" style="background-image:url('/img/advisors/8.png');">
							<div class="crew-img-overlay">
								<div class="overlay-icons">
									<img src="/img/social/facebook-white.svg" style="width: 8px;">
									<img src="/img/social/twitter-white.svg" style="width: 18px;margin-left: 12px;">
									<img src="/img/social/linkedin-white.svg" style="width: 18px;margin-left: 12px;">
								</div>
							</div>
						</div>
						<div class="crew-name">KIM J.</div>
						<div class="crew-designation">Afro-Asia & Pacific<br/>Business Consultant</div>
					</div>

				</div>
			</div>
			<div class="crew-foot topgap40">For more information please refer to <a href="https://s3.ap-south-1.amazonaws.com/tourcoin/whitepaper.pdf" target="_blank" style="color: #4f5767">Whitepaper</a></div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>

	<div class="row wto-white-bg" style="min-height: 0;">
		<div class="col s1">&nbsp;</div>
		<div class="col s10">
			<div class="text-center topgap30 bottomgap30 cursor" ng-click="state.go('signup')">
				<div class="join-ico">
					<span class="inline-block middle">JOIN THE ICO</span>
					<span class="ico-arrow">
						<img class="middle" src="/img/arrow.svg">
					</span>
				</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg">
		<div class="col s1">&nbsp;</div>
		<div class="col s10 topgap12">
			<div class="row">
				<div class="bottomgap20">
					<h5 class="text-center font-27">
						<span class="font-20" style="color: #4a4a4a">PROBABLE EXCHANGES</span>
					</h5>
				</div>
				<div class="col s12 text-center counter-imgs">
					<a href=" https://www.binance.com/" target="_blank">
						<img src="/img/exchanges/Binance.jpg">
					</a>
					<a href="https://www.livecoin.net/" target="_blank">
						<img src="/img/exchanges/Livecoin.jpg">
					</a>
					<a href="https://www.bitfinex.com/" target="_blank">
						<img src="/img/exchanges/Bittfinex.jpg">
					</a>
					<a href="https://hitbtc.com/" target="_blank">
						<img src="/img/exchanges/HitBTC.jpg">
					</a>
					<a href="https://bittrex.com/" target="_blank">
						<img src="/img/exchanges/Bittrex.jpg">
					</a>
					<a href="https://www.coinexchange.io/" target="_blank">
						<img src="/img/exchanges/Coinexchange.jpg">
					</a>
				</div>
			</div>
		</div>
		<div class="col s1">&nbsp;</div>
	</div>

	<div class="row wto-white-bg" style="border-top: 4px solid #faf9fe">
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
		<div class="col s12 m10 topgap20 bottomgap40">
			<div class="row">
				<div>
					<h5 class="text-center" style="margin-top: 20px;margin-bottom: 0;">
						<span class="font-24" style="color: #7f848b">Subscribe For Newsletter</span>
					</h5>
				</div>
				<div class="col s12 text-center topgap30">
					<span class="inline-block relative">
						<input type="email" ng-model="mailId" placeholder="Email" ng-change="validateEmail(mailId)" class="wto-news-sub">
						<img src="/img/email.svg" class="news-icon">
						<span class="news-subscribe" ng-click="subscribeMail(mailId)">SUBSCRIBE</span>
					</span>
					<div class="font-10" style="color: red;margin-top: 4px;">{{errmsg}}</div>
				</div>
			</div>
		</div>
		<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	</div>
</div>