@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: url("/fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url("/fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: 500;
    src: url("/fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("/fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url("/fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: 100;
    src: url("/fonts/Montserrat-ExtraLight.otf") format("opentype");
}

html,body {
	font-family: Montserrat!important;
	-webkit-font-smoothing: antialiased;
	font-size-adjust: 0.5 !important;
}

/*custom padding*/

.no-padding{
	padding: 0!important;
}
.full-padding{
	padding: 15px;
}
.half-padding{
	padding: 0 15px;
}
.padding-10{
	padding: 10px;
}
.pad-30{
  padding:0 30px!important;
}

/*custom margin*/
.topgap60{
	margin-top: 60px;
}
.topgap50{
	margin-top: 50px;
}
.topgap40{
	margin-top: 40px;
}
.topgap35{
  margin-top: 35px;
}
.topgap30{
	margin-top: 30px;
}
.topgap25{
  margin-top: 25px;
}
.topgap20{
	margin-top: 20px;
}
.topgap12{
	margin-top: 12px;
}
.topgap15{
	margin-top: 15px;
}
.topgap8{
  margin-top: 8px;
}
.topgap6{
	margin-top: 6px;
}
.bottomgap30{
	margin-bottom: 30px;
}
.bottomgap20{
	margin-bottom: 20px;
}
.bottomgap15{
  margin-bottom: 15px;
}
.bottomgap12{
	margin-bottom: 12px;
}
.bottomgap6{
	margin-bottom: 6px;
}
.leftgap30{
	margin-left: 30px;
}
.leftgap20{
	margin-left: 20px;
}
.leftgap12{
	margin-left: 12px;
}
.leftgap6{
	margin-left: 6px;
}
.rightgap30{
  margin-right: 30px;
}
.rightgap20{
	margin-right: 20px;
}
.rightgap12{
	margin-right: 12px;
}
.rightgap10{
	margin-right: 10px;
}
.rightgap6{
	margin-right: 6px;
}

/*custom font css*/
.font-10{
  font-size: 10px;
}
.font-11{
	font-size: 11px;
}
.font-12{
	font-size: 12px;
}
.font-13{
	font-size: 13px;
}
.font-14{
	font-size: 14px;
}
.font-15{
	font-size: 15px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-22{
	font-size: 22px;
}
.font-24{
	font-size: 24px;
}
.font-27{
	font-size: 27px;
}
.font-30{
	font-size: 30px;
}
.font-36{
	font-size: 36px;
}
.font-45{
	font-size: 45px;
}
.font-60{
	font-size:60px;
}
.font-65{
	font-size: 65px;
}
.font-100{
	font-size: 100px;
}
.font-weight-100{
	font-weight: 100;
}
.font-weight-400{
	font-weight: 400;
}
.font-weight-500{
	font-weight: 500;
}
.font-weight-600{
	font-weight: 600;
}
.font-white{
	color: #fff;
}
.flex{
	display: flex;
}
.text-center{
	text-align: center;
}
.relative{
	position: relative;
}
.middle{
	vertical-align: middle;
}
.label-blue{
	color: #0ebac5;
}
.label-grey{
	color: #4a4a4a;
}
.label-light-grey{
	color: #9b9b9b;
}
video { 
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
	background-repeat: no-repeat;
}
.wto-container{
	padding: 0!important;
	margin: auto 0!important;
	width:100%!important;
	overflow: hidden!important;
}
.wto-home-bg{
	min-height: 100vh!important;
	/*background-image: url('/img/world-map.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
}
.wto-home-span{
	font-size:24px;
	font-weight: 600;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}
.wto-journey-text{
	font-family: Montserrat;
	font-size: 12px;
	font-weight: bold;
	line-height: 2.08;
	letter-spacing: 10px;
	text-align: center;
	color: #05e7e6;
	text-shadow: 0 0 10px #0b1b33;
}
.logo{
	width: 78px;
	height: 77px;
	object-fit: contain;
	margin: 0 20px 0 20px;
    display: inline-block;
    vertical-align: middle;
}
.wto-frame-text{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 28px;
	font-weight: 100;
	text-align: center;
	color: #fff;
	width: 60%;
}
.wto-mail-sub{
	width: 250px!important;
	height: 44px!important;
	border-radius: 100px!important;
	background-color: rgba(255, 255, 255, 0.2)!important;
	border: solid 1px #eaeaea!important;
	padding: 0px 115px 0px 45px!important;
	color: #fff!important;
	margin: 0!important;
	position: relative!important;
	font-size: 12px!important;
}
.mail-icon{
	position: absolute;
    left: 20px;
    top: 3px;
}
.mail-subscribe{
	cursor: pointer;
	position: absolute;
	right: 20px;
	width: 90px;
	height: 24px;
	border-radius: 100px;
	background-color: #ffffff;
	font-size: 10px;
	font-weight: 600;
	text-align: center;
	color: #2e3c56;
	top: 0;
	padding: 0.4%;
}
input:focus{
	outline: none!important;
}
.wto-white-bg{
	background-color: #fff;
	min-height: 100px;
}
.wto-coming-soon{
	font-size: 24px;
	font-weight: 300;
	line-height: 0.88;
	letter-spacing: 10px;
	text-align: center;
	color: #ffffff;
}
.download-whitepaper{
	display: inline-block;
	width:330px;
	height: 45px;
	border-radius: 100px;
	border: solid 1px #ffffff;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.4px;
	padding: 12px 35px;
	text-align: center;
	margin-right: 20px;
}
.join-ico{
	display: inline-block;
	width:330px;
	height: 45px;
	border-radius: 100px;
	background-color: #05e7e6;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.4px;
	padding: 13px 35px;
	text-align: left;
	vertical-align: middle;
	position: relative;
	margin-left: 20px;
}
.ico-arrow{
	width: 50px;
	height: 28px;
	border-radius: 99px;
	background-color: #2e3c56;
	text-align: right;
	display: inline-block;
	padding: 3px 10px;
	vertical-align: middle;
	position: absolute;
	right: 35px;
	top: 50%;
	transform: translateY(-50%);
}
.core-text-container{
	font-size: 14px;
	font-weight: 300;
	line-height: 1.57;
	text-align: center;
	color: #7f848b;
}
.core-img-container{
	width: 72px;
	height: 72px;
	display: inline-block;
	background-image: linear-gradient(to bottom, #05e7e6, #50e3c2);
	border-radius: 50%;
}
.core-head-title{
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2.4px;
	text-align: center;
	color: #212121;
	word-wrap: break-word;
}
.wto-distribution-title{
	font-size: 30px;
	letter-spacing: -0.2px;
	text-align: center;
	color: #485465;
}
.app-soon{
	font-size: 64px;
	font-weight: 300;
	line-height: 0.75;
	text-align: left;
	color: #4a4a4a;
}
.wto-grey-bg{
	background-color: #faf9fe;
	min-height: 100px;
}
.global-players{
	font-size: 30px;
	font-weight: 300;
	line-height: 1.6;
	text-align: center;
	color: #4a4a4a;
}
.brand-imgs img{
	width: 15%;
	height: auto;
}
.wto-footer-row{
	background-color: #fff;
	border-top:2px solid #e8e9ed;
	border-bottom:2px solid #e8e9ed;
}
.social-container{
	padding: 30px 0;
	border-bottom: 1px solid #e8e9ed;
}
.vac-container{
	padding: 15px 0;
}
.parallax-container{
	height: 200px;
}
.social-leftgap{
	margin-left: 30px;
}
/*(for small screen size less then 480px)*/
@media only screen and (max-width: 480px){
	.wto-home-span{
		font-size:16px;
	}
	.wto-journey-text{
		font-size: 10px;
		letter-spacing: 8px;
	}
	.logo{
		width: 48px;
		height: 47px;
		object-fit: contain;
		margin: 0 10px 0 10px;
	    display: inline-block;
	    vertical-align: middle;
	}
	.background-xs{
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-image: url('/img/ny.jpg');
		background-size: cover;
		height: 100vh;
		width: 100%;
		background-repeat: no-repeat;
	}
	.wto-frame{
		width: 100%;
		height: auto;
	}
	.wto-frame-text{
		top: 45%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 16px;
		font-weight: 100;
		text-align: center;
		color: #fff;
		width: 100%;
	}
	.wto-mail-sub{
		width: 200px!important;
	}
	.join-ico{
		margin-left: 0px;
		margin-top: 20px;
	}
	.download-whitepaper{
		margin-right: 0px;
	}
	.parallax-container{
		height: 240px;
	}
	.app-soon{
		font-size: 48px;
	}
	.global-players{
		font-size: 20px;
	}
	.social-leftgap{
		margin-left: 20px;
	}
		
}

/*(for bigger screen size mobile and tablets less then 768px)*/
@media only screen and (max-width: 768px){
	
}