<div class="row wto-footer-row">
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	<div class="col s12 m10">
		<div class="row">
			<div class="col s12 m6 topgap30">
				<div class="social-container">
					<a href="https://www.facebook.com/TourcoinICO/" target="_blank">
						<img src="/img/social/facebook.svg">
					</a>
					<a href="https://twitter.com/tourcoinproject" target="_blank">
						<img src="/img/social/twitter.svg" class="social-leftgap">
					</a>
					<a href="https://www.linkedin.com/in/tourcoin-project-542a97152/" target="_blank">
						<img src="/img/social/linked-in.svg" class="social-leftgap">	
					</a>
					<a href="https://plus.google.com/u/0/communities" target="_blank">
						<img src="/img/social/google.svg" class="social-leftgap">
					</a>
					<a href="https://medium.com/@tourcoinproject/world-s-first-decentralized-coin-which-can-be-mined-as-well-as-stored-in-qt-wallet-or-erc-20-smart-7a2f728d0769" target="_blank">
						<img src="/img/social/medium.svg" class="social-leftgap">
					</a>
					<a href="https://www.youtube.com/watch?v=cGK9VXqdnSM" target="_blank">
						<img src="/img/social/youtube.svg" class="social-leftgap">
					</a>
					<a href="">
						<img src="/img/social/slack.svg" class="social-leftgap">
					</a>
					<a href="https://www.instagram.com/tourcoinproject/" target="_blank">
						<img src="/img/social/instagram.svg" class="social-leftgap">
					</a>
				</div>
				<div class="row vac-container">
					<div class="col s4" style="padding-left: 0;">
						<div class="font-14 font-weight-400 label-grey topgap6">Vision</div>
						<div class="label-blue font-12 font-weight-400 topgap12">Whitepaper</div>
					</div>
					<div class="col s4" style="padding-left: 0;">
						<div class="font-14 font-weight-400 label-grey topgap6">Address</div>
						<div class="label-light-grey font-12 font-weight-400 topgap12">Harbour Parade, Southampton SO15</div>
					</div>
					<div class="col s4" style="padding-left: 0;">
						<!-- <div class="font-14 font-weight-400 label-grey topgap6">Contact Us</div> -->
					</div>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="social-container hide-on-small-only" style="border:none;">
					&nbsp;			
				</div>
				<div class="row vac-container">
					<div class="col s6 m4 hide-on-small-only">
						<div class="font-13 label-light-grey topgap20" style="padding-top: 10px;border-top:1px solid transparent">&nbsp;</div>
					</div>
					<div class="col s6 m4">
						<div class="font-13 label-light-grey topgap20" style="padding-top: 10px;border-top:1px solid #e8e9ed">About</div>
					</div>
					<div class="col s6 m4">
						<div class="label-light-grey font-13 topgap20" style="padding-top: 10px;border-top:1px solid #e8e9ed">Terms and Conditions</div>
					</div>
					<div class="col s6 m4 hide-on-small-only">
						<div class="font-13 label-light-grey topgap10">&nbsp;</div>
					</div>
					<div class="col s6 m4">
						<div class="font-13 label-light-grey topgap10" style="padding-top: 10px;border-top:1px solid #e8e9ed">FAQs</div>
					</div>
					<div class="col s6 m4">
						<div class="label-light-grey font-13 topgap10" style="padding-top: 10px;border-top:1px solid #e8e9ed">Crew</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
</div>
<div class="row">
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	<div class="col s12 m10">
		<img src="/img/cc.svg" class="middle">
		<span class="inline-block font-13" style="color: #b5b8bd;">2017 WorldTourism. All rights reserved</span>
	</div>
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
</div>
