<div class="row wto-footer-row">
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	<div class="col s12 m10">
		<div class="row">
			<div class="col s12">
				<div class="social-container">
					<a href="https://www.facebook.com/worldtourcoin/" target="_blank">
						<img src="/img/social/facebook.svg">
					</a>
					<a href="https://twitter.com/tourcoinproject" target="_blank">
						<img src="/img/social/twitter.svg" class="social-leftgap">
					</a>
					<!-- <a href="https://www.linkedin.com/in/tourcoin-project-542a97152/" target="_blank">
						<img src="/img/social/linked-in.svg" class="social-leftgap">	
					</a> -->
					<a href="https://plus.google.com/u/2/117347093314537082320" target="_blank">
						<img src="/img/social/google.svg" class="social-leftgap">
					</a>
					<a href="https://medium.com/@tourcoinproject/world-s-first-decentralized-coin-which-can-be-mined-as-well-as-stored-in-qt-wallet-or-erc-20-smart-7a2f728d0769" target="_blank">
						<img src="/img/social/medium.svg" class="social-leftgap">
					</a>
					<a href="https://www.youtube.com/channel/UCQBl6x8r8pHggg8Iu0nsomg" target="_blank">
						<img src="/img/social/youtube.svg" class="social-leftgap">
					</a>
					<a href="https://join.slack.com/t/tourcoinproject/shared_invite/enQtMjY3NDMzMDA1MjY4LWM5MzhlNjc3NDFiMDQ5NDc0OTdlYjBjYmZmNmQzMTZhYjRiOTk1ZmI5ODVkMWZlZDQ2MzAxYzgwNjFlYmRhYTM">
						<img src="/img/social/slack.svg" class="social-leftgap">
					</a>
					<a href="https://www.instagram.com/tourcoinproject/" target="_blank">
						<img src="/img/social/instagram.svg" class="social-leftgap">
					</a>
					<a>
						<img src="/img/social/bitcoin.svg" class="social-leftgap">
					</a>
					<a href="https://tourcoinproject.blogspot.in/" target="_blank">
						<img src="/img/social/blogspot.svg" class="social-leftgap">
					</a>
					<a href="https://www.pinterest.co.uk/tourcoinproject/pins/" target="_blank">
						<img src="/img/social/pinterest.svg" class="social-leftgap">
					</a>
					<a href="https://www.reddit.com/user/tourcoinproject/comments/7awpvl/worlds_first_decentralized_coin_which_can_be/" target="_blank">
						<img src="/img/social/reddit.svg" class="social-leftgap">
					</a>
					<a href="https://web.telegram.org/#/im" target="_blank">
						<img src="/img/social/telegram.svg" class="social-leftgap">
					</a>
					<a href="https://tourcoinproject.tumblr.com/" target="_blank">
						<img src="/img/social/tumblr.svg" class="social-leftgap">
					</a>
				</div>
			</div>
			<div class="col s12 m7 topgap30">
				<div class="row">
					<!-- <div class="col s4" style="padding-left: 0;">
						<div class="font-14 font-weight-400 label-grey topgap6">Vision</div>
						<div class="label-blue font-12 font-weight-400 topgap12">Whitepaper</div>
					</div> -->
					<a class="col s4" style="padding-left: 0;display: block;" href="https://www.google.co.in/maps/search/Harbour+Parade,+Southampton+SO15,+London/@50.9029857,-1.4107496,17z/data=!3m1!4b1" target="_blank">
						<div class="font-14 font-weight-400 label-grey topgap6">
							<img src="/img/gb.svg">
						</div>
						<div class="label-light-grey font-12 font-weight-400 topgap12">Harbour Parade, Southampton SO15, London</div>
					</a>
					<a class="col s4" style="padding-left: 0;display: block;" href="https://www.google.co.in/maps?q=Hamilton+Ave,+St.+John%27s,+NL+A1E+1H7,+Canada&um=1&ie=UTF-8&sa=X&ved=0ahUKEwj3tpCmxtnXAhULnJQKHTU9BYEQ_AUICigB" target="_blank">
						<div class="font-14 font-weight-400 label-grey topgap6">
							<img src="/img/ca.svg">
						</div>
						<div class="label-light-grey font-12 font-weight-400 topgap12">Hamilton Ave, St. John's, NL A1E 1H7, Canada</div>
					</a>
					<a class="col s4" style="padding-left: 0;display: block;" href="https://www.google.co.in/maps/place/Otemachi,+Hakodate,+Hokkaido+040-0064,+Japan/@41.7692623,140.7191861,16z/data=!3m1!4b1!4m5!3m4!1s0x5f9ef3a0dbce33f1:0xc36c24780f8c0da0!8m2!3d41.7679349!4d140.7244579" target="_blank">
						<div class="font-14 font-weight-400 label-grey topgap6">
							<img src="/img/jp.svg">
						</div>
						<div class="label-light-grey font-12 font-weight-400 topgap12">Otemachi, Hakodate 040-0064, Hokkaido, Japan</div>
					</a>
					<!-- <div class="col s4" style="padding-left: 0;">
						<div class="font-14 font-weight-400 label-grey topgap6">Contact Us</div>
					</div> -->
				</div>
			</div>
			<div class="col s12 m5">
				<!-- <div class="social-container hide-on-small-only" style="border:none;">
					&nbsp;			
				</div> -->
				<div class="row topgap8">
					<div class="col s6 m2 hide-on-small-only">
						<div class="font-13 label-light-grey" style="padding-top: 10px;">&nbsp;</div>
					</div>

					<div class="col s6 m5">
						<div class="font-13 label-light-grey" style="padding-top: 10px;">
							<a ui-sref="contactUs" class="label-light-grey">Contact Us</a>
						</div>
					</div>

					<div class="col s6 m5" style="padding-right: 0;">
						<a href="https://s3.ap-south-1.amazonaws.com/tourcoin/whitepaper.pdf" target="_blank" class="label-light-grey font-13" style="padding-top: 10px;display: block;">Whitepaper</a>
					</div>

					<div class="col s6 m2 hide-on-small-only">
						<div class="font-13 label-light-grey topgap10">&nbsp;</div>
					</div>

					<div class="col s6 m5">
						<div class="font-13 label-light-grey topgap10" style="padding-top: 10px;border-top:1px solid #e8e9ed">
							<a ui-sref="faq" class="label-light-grey">FAQs</a>
						</div>
					</div>

					<div class="col s6 m5" style="padding-right: 0;">
						<div class="label-light-grey font-13 topgap10" style="padding-top: 10px;border-top:1px solid #e8e9ed">
							<a ui-sref="terms" class="label-light-grey">Terms and Conditions</a>
						</div>
					</div>

					<div class="col s6 m2 hide-on-small-only">
						<div class="font-13 label-light-grey topgap10">&nbsp;</div>
					</div>

					<div class="col s6 m5">
						<div class="font-13 label-light-grey topgap10" style="padding-top: 10px;border-top:1px solid #e8e9ed">
							<a ui-sref="vision" class="label-light-grey">Vision</a>
						</div>
					</div>
					
					<div class="col s6 m5" style="padding-right: 0;">
						<div class="label-light-grey font-13 topgap10" style="padding-top: 10px;border-top:1px solid #e8e9ed">
							<a ui-sref="vision" class="label-light-grey">Crew</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
</div>
<div class="row">
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
	<div class="col s12 m10">
		<img src="/img/cc.svg" class="middle">
		<span class="inline-block font-13" style="color: #b5b8bd;">2017 WorldTourism. All rights reserved</span>
	</div>
	<div class="col s1 m1 hide-on-small-only">&nbsp;</div>
</div>
