<div class="wto-container">
	<div class="row">
		<nav scroll class="wto-fixed-nav {{boolChangeClass?'wto-white-nav':'wto-trans-nav'}}">
			<div class="col s12">
				<ul class="wto-nav-ul right">
					<li><a class="wto-anchor {{boolChangeClass?'':'border-none'}}" href="#about">ABOUT US</a></li>
					<li><a class="wto-anchor {{boolChangeClass?'':'border-none'}}" href="#road-map">ROAD MAP</a></li>
					<li><a class="wto-anchor {{boolChangeClass?'':'border-none'}}" href="#distribution">ANALYTICS</a></li>
				</ul>
			</div>
		</nav>		
	</div>
</div>